.article-box
  .article
    .card
      .content_all
        = safe_join(article.content.split("\n"), tag(:br))
        - if article.image.present?
          = image_tag "#{article.image}"
      .card-action
        -if article.title == ""
          = link_to article_path(article), method: 'get' do
            無題
        -else
          = link_to article_path(article), method: 'get' do
            #{article.title}
        -if user_signed_in?
          -if article.user_id == current_user.id
            = link_to edit_article_path(article), method: 'get' do
              = fa_icon 'edit'
            = link_to "/articles/#{article.id}", method: 'delete' do
              = fa_icon 'trash'
        .card-info
          %p.card-time
            =article.updated_at.strftime("%Y/%m/%d %H:%M")
          %p.card-creater
            CreatedBy : #{article.user.nickname}