.article
  .card
    - if article.image.present?
      .card-image-orgin
        = image_tag "#{article.image}",class:"article-image"
    .card-content
      =simple_format"#{article.content}"
    .card-action
      -if article.title == ""
        = link_to article_path(article), method: 'get' do
          無題
      -else
        = link_to article_path(article), method: 'get' do
          #{article.title}
      .card-info
        %p.card-time
          =article.updated_at.strftime("%Y/%m/%d %H:%M")
        %p.card-creater
          CreatedBy : #{article.user.nickname}
